nav {
  display: flex;
  justify-content: space-around;
  background: #333333;
  min-height: 80px;
  align-items: center;
  padding: 0;
}

.nav-links {
  list-style: none;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 50px;
}

.nav-item-container {
  margin-bottom: 15px;
}

.nav-item {
  text-decoration: none;
  color: white;
}
/*
.nav-item:hover {
  font-size: medium;
  background: #242424;
  color: white;
  border: 1px solid #242424;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
} */

.logout-btn {
  border: none;
  margin-bottom: 30px;
  background-color: white;
  color: #242424;

}
.logout-btn:hover {
  color: #242424;
  font-size: larger;
  transition: all 0.3s ease-out;
  background-color: white;
}
