.create-homestay-title {
  color: #242424;
  padding: 20px;
}

.create-hs-btn {
  font-size: larger;
  border: none;
}

.create-hs-btn:hover {
  background-color: #242424;
}


@media screen and (max-width: 750px) {
}
