.create-acc-container {
    display: flex;
    justify-content: center;
}

.create-acc-title {
    color: #242424;
    padding: 20px;
}

.create-acc-signup-form {
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.create-acc-invalid-inform {
    color: white;
    margin: 10px 5px 0px 5px;
}