.header-container {
  height: 64px;
  background-color: #ece5df;
}

.header-second-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header-avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

.header-item {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #555555;
}