.hs-item-container {
  padding: 10px;
  margin-bottom: 10px;
}

.hs-item-info {
  border: 2px dotted #242424;
  border-radius: 5px;
}

.hs-item-image {
  margin-bottom: 10px;
  transition: all;
}
.hs-item-image:hover {
  transition: all 0.3s ease-out;
  height: "10px";
}

.hs-item-btn {
  background-color: #242424;
}
