.list-hs-container {
  background-color: white;
  padding: 20px;
}

.list-hs-title {
  color: #333333;
  margin-bottom: 20px;
  align-self: start;
  font-size: 24px;
}

.list-hs-item {
  padding: 0;
  border: none;
}

.list-hs-item-text {
  padding: 5px;
}
.list-hs-item-text:hover {
  background: #242424;
  color: white;
  font-size: large;
  transition: all 0.3s ease-out;
}
