.login-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.login-form {
  border: 3px solid #777777;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
}

.login-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.login-title-text {
  font-size: 40;
  color: "#00008b";
  margin-left: 10px;
}

.login-btn {
  border: 2px solid #777777;
  background-color: transparent;
  border-radius: 5px;
  color: black;
}

.login-btn:hover {
  background-color: #242424;
  color: white;
  border: 3px solid #242424;
  transition: all 0.3s ease-in-out;
}
